{% extends 'base.html' %}

{% block content %}

<form action="" method="post">
  <div class="mb-3">
    <label for="id_first_name" class="form-label">First Name :</label>
      <input type="text" required class="form-control" name="first_name"
              value="{{first_name}}" placeholder="Name">
    <label for="id_last_name" class="form-label"> Last Name :</label>
    <input type="text" required class="form-control" name="last_name"
              value="{{last_name}}" placeholder="Surname">
  </div>
  <button type="submit" class="btn btn-primary">Greet</button>
</form>


<div>
    {% if errors %}

    <div class="alert alert-secondary" role="alert">
        {{ errors }}
    </div>
    {% endif %}
    {% if message %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endif %}
        
    <p>
</div>
{% endblock %}