{% extends 'base.html' %}

{% block content %}
<div>
<ul class="list-group">
  {% for person in names %}
  <li class="list-group-item">{{ person.first_name }} {{ person.last_name }}</li>
  {% endfor %}
</ul>
</div>

{% endblock %}